.nav-container {
    height: 55px;
    width: 100vw;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-container h1 {
    font-size: 1.3rem;
    margin-left: 1.3rem;
}

.challanges {
    margin-right: 1.3rem;
}

@media only screen and (min-width: 900px){
    .challanges {
        display: none;
    }
    .nav-container h1 {
        margin-left: 5.3rem;
    }
}